{
  "{src,apps,packages,test}/**/*.{ts,tsx}": [
    "eslint '{src,test}/**/*.ts' --ignore-path ./eslintignore --cache --fix",
    "prettier --cache --write"
  ],
  "*./**/*.{ts,js,json,*rc}": [
    "prettier --cache --write"
  ],
  "package.json": [
    "npx -y sort-package-json"
  ]
}