strict-peer-dependencies=false
auto-install-peers=true
message="Upgrade to %s"
init-author-name="Denis Penkov"
init-author-email="justdenp@gmail.com"
init-author-url="https://github.com/JustDenP"
init-license="MIT"
init-version="0.0.1"
